
/*************************
*   IMAGE-INFORMATION.CSS     *
**************************/

#detailed-info {
    font-size: 1.15em;
}



#detailed-info span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #00b3ee;
}

#detailed-info h2 {
    text-transform: uppercase;
    padding-top: 15px;
    color: #00b3ee;
}

#container .box {
    padding: 25px;
}

#reduce_image_size button {
    margin: 70px 20px 0 20px;
    padding: 15px 0 15px 0;
    width: 100%;
}

.box {
    background-color: #eee;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}


