<section id="dashboard-admin">
    <div class="row">
        <div class="container">
            <div class="col-md-4">
                <p class="dashboard-monitoring">STATISTICS</p>
                <p class="dashboard-data">{{statistics.number_of_all_users}}</p>
            </div>

            <div class="col-md-4">
                <p class="dashboard-monitoring">Number of User VMIs</p>
                <p class="dashboard-data">{{statistics.number_of_user_images}}</p>
            </div>

            <div class="col-md-4">
                <p class="dashboard-monitoring">Number of users in ENTICE</p>
                <p class="dashboard-data">{{statistics.number_of_all_repositories}}</p>
            </div>

            <p class="dashboard-monitoring" style="margin-top: 100px; text-align: left">Storage statistics</p>
            <div class="col-lg-6">
                <table>
                    <tbody>
                    <tr>
                        <th>Number Of Fragments</th>
                        <td> {{ stats.numberOfFragments }}</td>
                    </tr>
                    <tr>
                        <th>Number Of Virtual Images</th>
                        <td> {{ stats.numberOfVirtualImages }}</td>
                    </tr>
                    <tr>
                        <th>Number Of Base Images</th>
                        <td> {{ stats.numberOfBaseImages }}</td>
                    </tr>
                    <tr>
                        <th>Fragmented Image Storage Space</th>
                        <td> {{ stats.fragmentedImageStorageSpace }} GB</td>
                    </tr>
                    <tr>
                        <th>Size Of Composite Images</th>
                        <td> {{ stats.sizeOfCompositeImages }} GB</td>
                    </tr>
                    <tr>
                        <th>Size Of Base Images</th>
                        <td> {{ stats.sizeOfBaseImages }} GB</td>
                    </tr>
                    <tr>
                        <th>Size Of Fragments</th>
                        <td> {{ stats.sizeOfFragments }} GB</td>
                    </tr>
                    <tr>
                        <th>Composite Image Storage Space</th>
                        <td> {{ stats.compositeImageStorageSpace }} GB</td>
                    </tr>
                    <tr>
                        <th>Reduction Ratio Percentage</th>
                        <td> {{ stats.reductionRatioPercentage }} %</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>