<section id="reset-passwd" class="row">
    <div class="container">
        <form class="form">
            <div class="col-md-12">
                <h3 class="form-signin-heading">Reset your password</h3>
                <p>Type in your E-mail and we will send you a link to reset your password</p>
                <input id="email-input" type="email" class="form-control" placeholder="Email">
                <button id="reset-passwd-btn" class="btn btn-info" type="submit">Sign up</button>
            </div>
        </form>
    </div> <!-- /container -->
</section>