<section id="sign-in" class="row">
    <div class="container">

        <!-- Form has ng-submit directive, which triggers the function in loginController.js  -->
        <form class="form" ng-submit="loginSubmit();">
            <div class="col-md-12">
                <h3 class="form-signin-heading">Sign In</h3>

                <div id="g-div" style="margin-left: -15px; margin-right: -15px;" class="col-md-6">
                    <div id="google" class="btn-group btn-block">
                        <div class='btn'><i class="fa fa-google-plus"></i></div>
                        <button class='btn'><span>Google +</span></button>
                    </div>
                </div>

                <div id="fb-div" style="margin-left: -15px; margin-right: -15px;" class="col-md-6">
                    <div id="facebook" class="btn-group btn-block">
                        <div class='btn'><i class="fa fa-facebook"></i></div>
                        <button class='btn'><span>Facebook</span></button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <hr class="style-six">
                <!-- Dependency injection: ng-model directive from input field collects data and stores into data.username, data.password  -->
                <input ng-model="data.username" id="username_input" type="text" class="form-control" placeholder="Username" ng-required="true">
                <input ng-model="data.password" id="password_input" type="password" class="form-control" placeholder="Password" ng-required="true">

                <div class="col-md-12 checkbox">
                    <!-- <label><input type="checkbox" value="">Keep me Signed in &nbsp&nbsp&nbsp</label> -->
                    <a ui-sref="forgot-password">Forgot password?</a>
                </div>
                <button id="signin-btn" class="btn btn-info" type="submit">Sign In</button>
                <!-- if isError is true, this error message is shown -->
                <p ng-if="isError" >Invalid Username or Password.</p>
                <p>Not a member? <a ui-sref="sign-up">Join us now</a></p>
            </div>
        </form>
    </div> <!-- /container -->
</section>

<!--<footer-load></footer-load>-->