<section id="sign-up" class="row">
    <div class="container">
        <form class="form">
            <div class="col-md-12">
                <h3 class="form-signin-heading">Join us today</h3>
                <!--<p>Choose one of the following options</p>-->

                <div id="g-div" style="margin-left: -15px; margin-right: -15px;" class="col-md-6">
                    <div id="google" class="btn-group btn-block">
                        <div class='btn'><i class="fa fa-google-plus"></i></div>
                        <button class='btn'><span>Google +</span></button>
                    </div>
                </div>

                <div id="fb-div" style="margin-left: -15px; margin-right: -15px;" class="col-md-6">
                    <div id="facebook" class="btn-group btn-block">
                        <div class='btn'><i class="fa fa-facebook"></i></div>
                        <button class='btn'><span>Facebook</span></button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <hr class="style-six">
                <p>Sign up using your E-mail</p>

                <input id="email-input" type="email" class="form-control" placeholder="Email">
                <input id="username-input" type="text" class="form-control" placeholder="Username">
                <input id="password-input" type="password" class="form-control" placeholder="Password">
                <button id="signup-btn" class="btn btn-info" type="submit">Sign up</button>
                <p>Already a member? <a ui-sref="login">Sign in</a></p>
            </div>
        </form>
    </div> <!-- /container -->
</section>

<!--<footer-load></footer-load>-->