
/*************************
*   BUILD-RECIPES.CSS     *
**************************/
#recipes {
    font-size: 1.2em;
}

#recipes h3 {
    color: #00b3ee;
    text-transform: uppercase;
    padding-bottom: 30px;
}

#recipes-build {
    margin-bottom: 40px;
    margin-top: 30px;
}

#recipes-build form {
    margin-top: 25px;
}

#recipes-build h4 {
    text-transform: uppercase;
    color: #00b3ee;
}

.status-init {
    color: #FDD017;
}

.status-running {
   // color: #4CC417;
    color: green;
}

.status-finished {
    color: #0d8aee;
}

.status-error {
    color: red;
}