<section id="footer" style="background-color: #363636; color: white">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>About</h3>
                <span><a class="main-links" href="http://entice-project.eu" target="_blank">ENTICE project</a></span><br/>
                <span><a href="http://www.entice-project.eu/partners/" target="_blank" class="main-links">Partners</a></span><br/>
                <span><a href="http://www.entice-project.eu/use-cases/" target="_blank" class="main-links">Use Cases</a></span><br/>

            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h3>Recent News</h3>
                <span><a href="http://www.entice-project.eu/blog/" class="main-links" target="_blank">Blog</a></span><br />
                <span><a class="main-links" href="http://cloudcomputing.ieee.org/conferences" target="_blank">IEEE Cloud Computing</a></span><br/>
                <span><a class="main-links" href="http://www.cloudcomputing-news.net/" target="_blank">Cloud Tech</a></span><br/>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <h3>Contact us</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control input-sm" id="inputEmail3" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="email" class="form-control input-sm" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <button style="width: 100%" type="submit" class="btn btn-info">Send</button>
                        </div>
                    </div>
                </form>
            </div><!--/.col-md-3-->

            <div id="social-media" class="col-md-3 col-sm-6">
                <h3>Follow us</h3>
                <a href="https://www.facebook.com/enticeVM/?hc_ref=NEWSFEED&fref=nf" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="http://www.twitter.com/enticerepo" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://youtu.be/yoqmYmP5UJ4" target="_blank"><i class="fa fa-youtube"></i></a>
            </div><!--/.col-md-3-->

            <div style="margin-top: 30px; margin-bottom: 0" class="col-md-12">
               <p style="text-align: center;">Copyright © 2016 ENTICE Image Portal.</p>
            </div>
        </div>
    </div>
</section><!--/#bottom-->