
/*************************
*      FOOTER.CSS        *
**************************/

#footer .main-links {
    text-decoration: none;
}

#footer .main-links:hover {
    color: #00b3ee;
    font-weight: bold;
}

#footer .main-links.selected {
    font-weight: bold;
    color: #00b3ee;
}

#footer form input {
    background: transparent;
    border: 1px solid white;
    color: white;
}

#footer form textarea {
    background: transparent;
    border: 1px solid white;
    color: white;
    resize: vertical;
}

#footer span a {
    color: #9d9d9d;
}

#social-media a {
    color: white;
}
