
/*************************
*       HEADER.CSS       *
**************************/

#header .main-links {
    color: white;
}

#header .main-links:hover {
    color: #00b3ee;
    font-weight: bold;
}

#header .main-links.selected {
    font-weight: bold;
    color: #00b3ee;
 }

#header .main-links-sub {
        color: black;
}

#header .main-links-sub:hover {
    color: #00b3ee;
}

@media screen and (max-width: 767px) {
    #header .main-links-sub {
        color: white;
    }

    #header .main-links-sub:hover {
        color: #00b3ee;
    }
}