/*************************
*         HOME.CSS        *
**************************/

#main {
    background-image: url('../images/back-login.jpg');
    background-size: cover;
    -webkit-background-image: url('../images/back-login.jpg');
    -o-background-image: url('../images/back-login.jpg');
    -moz-background-image: url('../images/back-login.jpg');
}

#main span {
    /*color: #1E90FF;*/
    color: #00b3ee;
}

.navbar {
    margin-bottom: 0px;
}

#main .row {
    margin-top: 30px;
}

#main h2 {
    margin-top: 20px;
    /*color: #1E90FF;*/
    color: #00b3ee;
}

#about-entice h2 {
    /*color: #1E90FF;*/
    color: #00b3ee;
}

#main img {
    width: 250px;
}

#main .col-md-12 {
    margin-top: 30px;
}

#about-entice li {
    /*color: #1E90FF;*/
    color: #00b3ee;
}

#about-entice li span {
    color:#4e4e4e;
    font-size: 1.1em;
}

#about-entice img {
    margin-top: 30px;
}

section#main,
section#about-entice,
section#pricing-table {
    padding: 40px 0;
}