<!-- Main page -->
<section id="main" class="no-margin">
    <div class="item active">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Deploy and optimize your virtual machine images</h2>
                    <p class="lead"><strong>Anytime. Anywhere.</strong></p>
                    <p class="lead">Every day more customers trust us.</p>
                </div>

                <div class="col-md-4">
                    <img ng-src="images/entice-logo.png" alt="Entice" class="img-responsive">
                </div>

                <div class="col-md-12">
                    <h4>d<span><strong>E</strong></span>centralised repositories for tra<span><strong>N</strong></span>sparent and efficien<span><strong>T</strong></span> v<span><strong>I</strong></span>rtual ma<span><strong>C</strong></span>hine op<span><strong></strong>E</strong></span>rations</h4>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.item-->
</section><!--/#main-slider-->

<!-- About ENTICE -->
<section id="about-entice">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>What ENTICE does?</h2>
                <ul>
                    <li class="lead"><span>Creation of lightweight VM images through functional descriptions</span></li>
                    <li class="lead"><span>Distributed lightweight VM image storage</span></li>
                    <li class="lead"><span>Autonomous multi-objective repository optimisation</span></li>
                    <li class="lead"><span>Elastic resource provisioning</span></li>
                    <li class="lead"><span>Information infrastructure for strategic and dynamic reasoning</span></li>
                </ul>
            </div> <!--/.col-md-12-->
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-8">
                        <img ng-src="images/entice-cloud.png" alt="Entice environment" class="img-responsive">
                </div>
            </div>
        </div> <!--/.row-->
    </div> <!--/.container-->
</section>

<!-- Footer -->
<footer-load></footer-load>

