<!--<section id="dashboard-user">
    <div class="row">
        <div class="container">
            <div class="col-md-4">
                <p class="dashboard-monitoring">Redistributions made</p>
                <p class="dashboard-data">30</p>
            </div>

            <div class="col-md-4">
                <p class="dashboard-monitoring">Number of ENTICE's Repositories</p>
                <p class="dashboard-data">20</p>
            </div>

            <div class="col-md-4">
                <p class="dashboard-monitoring">Number of User VMIs</p>
                <p class="dashboard-data">40</p>
            </div>
        </div>
    </div>
</section>
-->
<section id="dashboard-admin">
    <div growl></div>
    <div class="row">
        <div class="container">
          <!--  <div class="col-md-3">
                <p class="dashboard-monitoring">Redistributions made</p>
                <p class="dashboard-data">30</p>
            </div>
-->
            <div class="col-md-4">
                <p class="dashboard-monitoring">Number of ENTICE's Repositories</p>
                <p class="dashboard-data">{{statistics.number_of_all_users}}</p>
            </div>

            <div class="col-md-4">
                <p class="dashboard-monitoring">Number of User VMIs</p>
                <p class="dashboard-data">{{statistics.number_of_user_images}}</p>
            </div>

            <div class="col-md-4">
                <p class="dashboard-monitoring">Number of users in ENTICE</p>
                <p class="dashboard-data">{{statistics.number_of_all_repositories}}</p>
            </div>
        </div>
    </div>
</section>


<section id="pareto-section">
    <div class="row">
        <div class="container">
            <div id="pareto" class="col-md-12">
                <!--<p><a href ng-click="showChart()">Optimize VMI redistribution</a></p>-->
                <div style="height: 600px" google-chart chart="paretoChart" ></div>
            </div>
            <div style="height: 600px" google-chart chart="paretoChart" agc-on-select="paretoChartSelect(selectedItem);" ></div>

            <div id="redistribution" class="col-md-12">
                <button class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="executeRedistributionAction()">Trigger Offline VMI Redistribution</button>
            </div>
        </div>

        <!-- Modal -->
        <!--<div class="modal fade" id="myModal" role="dialog">-->
            <!--<div class="modal-dialog">-->

                <!--&lt;!&ndash; Modal content&ndash;&gt;-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <!--<h4 class="modal-title">Offline VMI Redistribution</h4>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<p>The process of Offline VMI Redistribution is scheduled to 23:59.</p>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Ok, I'll wait</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>


<!--
<div class="container-fluid green-background">
    <div class="container">
        <h1 class="color-white">REPOSITORIES - ANALISYS</h1>
        <div google-chart chart="scoinPrice" class="line-chart"></div>
        <div class="line-chart-toolbar">
            <div><a href>1D</a></div>
            <div><a href>1W</a></div>
            <div><a href>1M</a></div>
            <div><a href>6M</a></div>
            <div><a href>1Y</a></div>
        </div>
    </div>
</div>
-->