/*************************
*         MAIN.CSS        *
**************************/
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family:'Quicksand', 'Open Sans', 'monospace', sans-serif;
    background: #fff;
    color:#4e4e4e;
    line-height: 22px;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
}

#header nav {
    color: white;
    background-color: #363636;
    border-radius: 0px;
    border: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

/*section {
    padding: 45px 0;
}*/

.center {
    text-align: center;
    padding-bottom: 55px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 17px;
    line-height: 14px;
    font-weight: 400;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

#social-media .fa-facebook {
    background-color: #43609C;
    padding: 10px 14px;
    border-radius: 100%;
}

#social-media .fa-facebook:hover,
#social-media .fa-twitter:hover,
#social-media .fa-youtube:hover {
    opacity: 0.7;
}

#social-media .fa-twitter {
    background-color: #55ACEE;
    padding: 10px 11px;
    border-radius: 100%;
}

#social-media .fa-youtube {
    background-color: #D32323;
    padding: 10px 11px;
    border-radius: 100%;
}


/************************************************************************************************************
*   VMI BROWSING.CSS, CREATE BASE IMAGE.CSS, SNAPSHOT UPLOAD.CSS, VMI EXTENSION.CSS, VMI LAUNCHING.CSS   *
*************************************************************************************************************/
#fragmentation p,
#base-image p:first-child,
#snapshot-upload p:first-child,
#vmi-extension p:first-child,
#vmi-launching p:first-child,
#image-upload h3 {
    margin-top: 30px;
    font-size: 1.4em;
    color: #00b3ee;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 20px;
}

#fragmentation .first-field {
    padding-bottom: 40px;
}

table, th , td  {
    border-collapse: collapse;
    padding: 5px;
}
