<!-- OPTIMIZATION WIZARD -->
<section id="optimization">
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <h3>VMI Size Reduction (optimisation)</h3>
                <uib-tabset active="active">
                    <uib-tab index="0">

                        <uib-tab-heading>VMI Size Reduction Wizard</uib-tab-heading>
                        <section id="optimization-cloud">
                            <div class="row">
                                <div class="container">
                                    <div class="col-md-12">
                                        <form ng-model="optimisationForm" name="optimisationForm"
                                              class="form-horizontal" role="form" ng-submit="optimizeSubmit()">


                                            <h4>Source Image Selection</h4>

                                            <!-- IMAGE URL -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Image URL <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imageURL }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="imageURL"
                                                           ng-model="data.imageURL"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Image URL">
                                                </div>
                                            </div>

                                            <!-- IMAGE FORMAT-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Image format <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imageFormat }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <select ng-required="false" name="imageFormat"
                                                            class="form-control"
                                                            ng-model="data.ImageFormat">
                                                        <option ng-option value="qcow2">qcow2</option>
                                                        <option value="vmdk">vmdk</option>
                                                        <option value="raw">raw</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <!--OVF template URL (vmdk only) - ovfURL, optional (required if vmdk),
                                            textfield automatically filled URL to where the ovf file had been uploaded at VMI upload-->
                                            <!-- OVF template URL (vmdk only) -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">OVF template URL (vmdk only)<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.ovfURL }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="ovfURL"
                                                           ng-model="data.ovfURL"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="OVF template URL">
                                                </div>
                                            </div>

                                            <!-- VALIDATOR SCRIPT-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Validator Script URL<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.validatorScriptURL }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="validatorScriptURL"
                                                           ng-model="data.validatorScriptURL"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Validator Script URL">
                                                </div>
                                            </div>

                                            <!-- VALIDATORS SERVER URL-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Validators server URL <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.validatorServerURL }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="validatorServerURL"
                                                           ng-model="data.validatorServerURL"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Validator server URL">
                                                </div>
                                            </div>

                                            <!-- VALIDATOR SCRIPT-->
                                            <!--it will override the script uploaded at VMI upload-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Validator Script (base64)<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.validatorScript }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <textarea name="validatorScript"
                                                              ng-model="data.validatorScript"
                                                              ng-required="false"
                                                              rows="9"
                                                              class="form-control"
                                                              placeholder="Validator Script (base64)"></textarea>
                                                </div>
                                            </div>

                                            <!-- FS PARTITION-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">FS Partition <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.fsPartition }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="fsPartition"
                                                           ng-model="data.fsPartition"
                                                           ng-required="false"
                                                           type="number"
                                                           class="form-control"
                                                           placeholder="FS Partition" value="1">
                                                </div>
                                            </div>

                                            <!-- FS TYPE-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">FS Type <a class="tooltip-pointer"
                                                                                                tooltips
                                                                                                tooltip-template="{{ tooltipsOptimisation.fsType }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <select ng-required="false" name="fsType"
                                                            class="form-control"
                                                            ng-model="data.FsType">
                                                        <option ng-option value="ext4">ext4</option>
                                                        <option value="ext3">ext3</option>
                                                        <option value="ext2">ext2</option>
                                                        <option value="xfs">xfs</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <h4>Optimisation resource</h4>

                                            <!-- Cloud Interface-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud Interface<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudInterface }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <select ng-required="true" name="cloudInterface"
                                                            class="form-control"
                                                            ng-model="data.CloudInterface">
                                                        <option value="ec2">ec2</option>
                                                        <option value="fco">fco</option>
                                                        <option value="wt">wt</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- CLOUD ENDPOINT URL -  -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud Endpoint URL <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudEndpointURL }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <select ng-required="true" name="cloudEndpointURL"
                                                            class="form-control"
                                                            ng-model="data.CloudEndpointURL">
                                                        <option value="http://cfe2.lpds.sztaki.hu:4567">sztaki</option>
                                                        <option value="https://cp.sd1.flexiant.net/soap/user/current/?wsdl">
                                                            fco
                                                        </option>
                                                        <option value="http://entice-api.wtelecom.es">wt</option>
                                                        <option value="https://opennebula.lpds.sztaki.hu:4567">deimos
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- CLOUD ACCESS KEY -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud Access Key <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudAccessKey }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <!--
                                                    <select ng-required="true" name="choose_cloud" class="form-control" ng-model="choose_cloud"></select>
                                                    -->
                                                    <input name="cloudAccessKey"
                                                           ng-model="data.cloudAccessKey"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Cloud Access Key">
                                                </div>
                                            </div>

                                            <!-- CLOUD SECRET KEY -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud Secret Key <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudSecretKey }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <!--
                                                    <select ng-required="true" name="choose_cloud" class="form-control" ng-model="choose_cloud"></select>
                                                    -->
                                                    <input name="cloudSecretKey"
                                                           ng-model="data.cloudSecretKey"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Cloud Secret Key">
                                                </div>
                                            </div>

                                            <!--IMAGE ID-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Source image cloud repository ID<a
                                                        class="tooltip-pointer"
                                                        tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imageId }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="imageId"
                                                           ng-model="data.imageId"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Source image cloud repository ID">
                                                </div>
                                            </div>

                                            <!-- IMAGE KEY PAIR (optional) -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Image Key Pair <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imageKeyPair }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="imageKeyPair"
                                                           ng-model="data.imageKeyPair"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Image Key Pair">
                                                </div>
                                            </div>

                                            <!-- IMAGE USERNAME (optional) -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Image Username <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imageUserName }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="imageUserName"
                                                           ng-model="data.imageUserName"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Image Username">
                                                </div>
                                            </div>

                                            <!-- IMAGE PRIVATE KEY (required) must be base64 encoded before sending to the service  -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Image Private Key <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imagePrivateKey }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <textarea name="imagePrivateKey"
                                                              ng-model="data.imagePrivateKey"
                                                              ng-required="true"
                                                              rows="9"
                                                              class="form-control"
                                                              placeholder="Image Private Key"></textarea>
                                                </div>
                                            </div>


                                            <!-- Image Contextualization URL (required) must be base64 encoded before sending to the service  -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Image Contextualization URL<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imageContextualizationURL }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="imageContextualizationURL"
                                                           ng-model="data.imageContextualizationURL"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Image Contextualization URL"></input>
                                                </div>
                                            </div>

                                            <!-- Image Contextualization base64 -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Image Contextualization (base64)<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imageContextualization }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="imageContextualization"
                                                           ng-model="data.imageContextualization"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Image Contextualization (base64)"></input>
                                                </div>
                                            </div>

                                            <!-- TEMPLATE URL -  -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud Optimizer VM Instance Type <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudOptimizerVMInstanceType }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <select ng-required="false" name="cloudOptimizerVMInstanceType"
                                                            class="form-control"
                                                            ng-model="data.CloudOptimizerVMInstanceType">
                                                        <option value="m1.small">m1.small</option>
                                                        <option value="m1.medium">m1.medium</option>
                                                        <option value="m1.large">m1.large</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- CLOUD WORKER VMI INSTANCE -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Worker VM instance type <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudWorkerVMInstanceType }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <select ng-required="false" name="cloudWorkerVMInstanceType"
                                                            class="form-control"
                                                            ng-model="data.CloudWorkerVMInstanceType">
                                                        <option value="m1.small">m1.small</option>
                                                        <option value="m1.medium">m1.medium</option>
                                                        <option value="m1.large">m1.large</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <h4>Optimisation goals and limits</h4>

                                            <!-- Max number of iterations -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Max number of iterations <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.maxIterationsNum }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="maxIterationsNum"
                                                           ng-model="data.maxIterationsNum"
                                                           ng-required="false"
                                                           type="number"
                                                           class="form-control"
                                                           placeholder="Max number of iterations">
                                                </div>
                                            </div>

                                            <!-- Max number of Parallel workers -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Max number of parallel worker VMs <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.numberOfParallelWorkerVMs }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="numberOfParallelWorkerVMs"
                                                           ng-model="data.numberOfParallelWorkerVMs"
                                                           ng-required="false"
                                                           type="number"
                                                           class="form-control"
                                                           placeholder="Max number of VMs [optional]">
                                                </div>
                                            </div>

                                            <!-- Maximum running time (in seconds)-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Max running time (in sec) <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.maxRunningTime }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="maxRunningTime"
                                                           ng-model="data.maxRunningTime"
                                                           ng-required="false"
                                                           type="number"
                                                           class="form-control"
                                                           placeholder="Max running time (seconds)">
                                                </div>
                                            </div>

                                            <!-- Max number of VMs OPTIONAL -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Max number of VMs <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.XmaxNumberOfVMs }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="maxNumberOfVMs"
                                                           ng-model="data.maxNumberOfVMs"
                                                           ng-required="false"
                                                           type="number"
                                                           class="form-control"
                                                           placeholder="Max number of VMs [optional]">
                                                </div>
                                            </div>

                                            <!-- Aimed Size (MB) OPTIONAL -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Aimed reduction Size <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.aimedSize }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="aimedSize"
                                                           ng-model="data.aimedSize"
                                                           ng-required="false"
                                                           type="number"
                                                           class="form-control"
                                                           placeholder="Aimed Size (MB)">
                                                </div>
                                            </div>

                                            <!-- Aimed Reduction Ratio OPTIONAL -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Aimed reduction Ratio<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.aimedReductionRatio }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="aimedReductionRatio"
                                                           ng-model="data.aimedReductionRatio"
                                                           ng-required="false"
                                                           type="number"
                                                           class="form-control"
                                                           placeholder="Aimed Reduction Ratio"
                                                           ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                                </div>
                                            </div>


                                            <!-- FREE DISKSPACE -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Free Disk Space <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.freeDiskSpace }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="freeDiskSpace"
                                                           ng-model="data.freeDiskSpace"
                                                           type="number"
                                                           ng-required="false"
                                                           class="form-control"
                                                           placeholder="Free Disk Space">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <button id="optimize-now" class="btn btn-info" type="submit">Optimize
                                                    image size now
                                                </button>
                                                <!--  <p style="color: #1E9E1E; padding: 5px; font-size: 1.2em; text-align: center;">Your disk image has been successfully uploaded.</p>
                                                  <p style="color: #C70039; padding: 5px; font-size: 1.2em; text-align: center;">An error occured when uploading an Image.</p>-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </uib-tab>

                    <uib-tab index="1">
                        <uib-tab-heading>List of VMIs being Size reduced</uib-tab-heading>
                        <!-- OPTIMIZATIONS IN PROGRESS  -->
                        <section id="optimization-progress">
                            <div class="row">
                                <div class="container">
                                    <div class="col-md-12">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Starting Time</th>
                                                <th>Optimizer Status</th>
                                                <th>Optimizer Phase</th>
                                                <th>Original Size</th>
                                                <th>Optimized Size</th>
                                                <!--<th>Optimized Image URL</th>-->
                                                <th>Failure Message</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="op in optimization" ng-click="showChart(op)">
                                                <td>{{ op.id }}</td>
                                                <td>{{ convertMillisecondsToDigitalClock(op.started) }}</td>
                                                <td ng-class="{ 'status-init' : op.status == 'PENDING', 'status-finished' : op.status == 'DONE' || op.status == 'ABORTED', 'status-running' : op.status == 'RUNNING', 'status-error' : op.status == 'FAILED' }">
                                                    {{ op.status }}
                                                </td>
                                                <td>{{ op.optimizerPhase }}</td>
                                                <td>{{ formatSizeUnitsOptimisation(op.originalImageSize) }}</td>
                                                <td>{{ formatSizeUnitsOptimisation(op.optimizedImageSize) }}</td>
                                                <!--<td><a target="_blank" href="{{ op.optimizedImageURL }}">VMI_URL</a></td>-->
                                                <th>{{ op.failure }}</th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div style="margin-bottom: 100px" class="row" ng-if="ifShowChart">
                            <div class="col-md-12">
                                <p>In the graph bellow the visualization of the VMIs before and after the optimisation
                                    process is shown.</p>
                                <div google-chart chart="chart2" class="line-chart"></div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</section>