<!-- LAUNCH VIRTUAL IMAGE WIZARD -->
<section id="optimization">
    <div growl></div>
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <h3>Launch Virtual Image</h3>
                <uib-tabset active="active">
                    <uib-tab index="0" select="tabSelected(0)">

                        <uib-tab-heading>Launch Virtual Image Wizard</uib-tab-heading>
                        <section id="optimization-cloud">
                            <div class="row">
                                <div class="container">
                                    <div class="col-md-12">
                                        <form ng-model="optimisationForm" name="optimisationForm"
                                              class="form-horizontal" role="form" ng-submit="launchVirtualImage()">

                                            <h4>Source Image Selection</h4>

                                            <!-- VIRTUAL IMAGE ID -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Virtual Image ID<a
                                                        class="tooltip-pointer"
                                                        tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.virtualImageId }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="virtualImageId"
                                                           ng-model="data.virtualImageId"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Virtual Image ID">
                                                </div>
                                            </div>

                                            <h4>Launch resource</h4>

                                            <!-- CLOUD  -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudEndpointURL }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <select ng-required="false" name="cloudEndpointURL"
                                                            class="form-control"
                                                            ng-model="data.CloudEndpointURL">
                                                        <option value="sztaki">sztaki</option>
                                                        <option value="fco">fco</option>
                                                        <option value="wt">wt</option>
                                                        <option value="deimos">deimos</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- ENDPOINT URL -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Endpoint URL<a
                                                        class="tooltip-pointer"
                                                        tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.endpoint }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="endpoint"
                                                           ng-model="data.endpoint"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Endpoint URL">
                                                </div>
                                            </div>

                                            <!-- Cloud Interface-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud Interface<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudInterface }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <select ng-required="false" name="cloudInterface"
                                                            class="form-control"
                                                            ng-model="data.CloudInterface">
                                                        <option value="ec2">ec2</option>
                                                        <option value="fco">fco</option>
                                                        <option value="wt">wt</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- CLOUD ACCESS KEY -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud Access Key <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudAccessKey }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <!--
                                                    <select ng-required="true" name="choose_cloud" class="form-control" ng-model="choose_cloud"></select>
                                                    -->
                                                    <input name="accessKey"
                                                           ng-model="data.accessKey"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Cloud Access Key">
                                                </div>
                                            </div>

                                            <!-- CLOUD SECRET KEY -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Cloud Secret Key <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudSecretKey }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <!--
                                                    <select ng-required="true" name="choose_cloud" class="form-control" ng-model="choose_cloud"></select>
                                                    -->
                                                    <input name="secretKey"
                                                           ng-model="data.secretKey"
                                                           ng-required="true"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Cloud Secret Key">
                                                </div>
                                            </div>

                                            <!-- CLOUD SECRET KEY -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Keypair <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.keypair }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <!--
                                                    <select ng-required="true" name="choose_cloud" class="form-control" ng-model="choose_cloud"></select>
                                                    -->
                                                    <input name="secretKey"
                                                           ng-model="data.keypair"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Keypair">
                                                </div>
                                            </div>


                                            <!-- Image Contextualization base64 -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Image Contextualization (base64)<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.imageContextualization }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <textarea name="imageContextualization"
                                                              ng-model="data.imageContextualization"
                                                              ng-required="false"
                                                              rows="9"
                                                              class="form-control"
                                                              placeholder="Image Contextualization (base64)"></textarea>
                                                </div>
                                            </div>

                                            <!--IMAGE ID-->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Source image cloud repository ID<a
                                                        class="tooltip-pointer"
                                                        tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.cloudImageId }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="imageId"
                                                           ng-model="data.cloudImageId"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Source image cloud repository ID">
                                                </div>
                                            </div>

                                            <!--OVF template URL (vmdk only) - ovfURL, optional (required if vmdk),
                                     textfield automatically filled URL to where the ovf file had been uploaded at VMI upload-->
                                            <!-- OVF template URL (vmdk only) -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">OVF template URL (vmdk only)<a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.ovfURL }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="ovfURL"
                                                           ng-model="data.ovfURL"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="OVF template URL">
                                                </div>
                                            </div>

                                            <!-- VMI INSTANCE -->
                                            <div class="form-group">
                                                <span class="control-label col-sm-3">Instance type <a
                                                        class="tooltip-pointer" tooltips
                                                        tooltip-template="{{ tooltipsOptimisation.instanceType }}">?</a></span>
                                                <div class="col-sm-5">
                                                    <input name="virtualImageId"
                                                           ng-model="data.instanceType"
                                                           ng-required="false"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Instance type (e.g. t2.)">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <button id="optimize-now" class="btn btn-info" type="submit">Launch
                                                    Virtual Image now
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </uib-tab>

                    <uib-tab index="1" select="tabSelected(1)">
                        <!--<uib-tab-heading>List of launched Virtual Images</uib-tab-heading>-->
                        <!--TODO-->
                        <!-- OPTIMIZATIONS IN PROGRESS  -->
                        <!--<section id="optimization-progress">-->
                        <!--<div class="row">-->
                        <!--<div class="container">-->
                        <!--<div class="col-md-12">-->
                        <!--<table class="table table-hover">-->
                        <!--<thead>-->
                        <!--<tr>-->
                        <!--<th>Id</th>-->
                        <!--<th>Starting Time</th>-->
                        <!--<th>Optimizer Status</th>-->
                        <!--<th>Optimizer Phase</th>-->
                        <!--<th>Original Size</th>-->
                        <!--<th>Optimized Size</th>-->
                        <!--&lt;!&ndash;<th>Optimized Image URL</th>&ndash;&gt;-->
                        <!--<th>Failure Message</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="op in optimization" ng-click="showChart(op)">-->
                        <!--<td>{{ op.id }}</td>-->
                        <!--<td>{{ convertMillisecondsToDigitalClock(op.started) }}</td>-->
                        <!--<td ng-class="{ 'status-init' : op.status == 'PENDING', 'status-finished' : op.status == 'DONE' || op.status == 'ABORTED', 'status-running' : op.status == 'RUNNING', 'status-error' : op.status == 'FAILED' }">-->
                        <!--{{ op.status }}-->
                        <!--</td>-->
                        <!--<td>{{ op.optimizerPhase }}</td>-->
                        <!--<td>{{ formatSizeUnitsOptimisation(op.originalImageSize) }}</td>-->
                        <!--<td>{{ formatSizeUnitsOptimisation(op.optimizedImageSize) }}</td>-->
                        <!--&lt;!&ndash;<td><a target="_blank" href="{{ op.optimizedImageURL }}">VMI_URL</a></td>&ndash;&gt;-->
                        <!--<th>{{ op.failure }}</th>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                        <!--</table>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</section>-->
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</section>